<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="aftership_feed" frontName="aftership_feed">
            <module name="AfterShip_Feed" />
        </route>
    </router>
</config>
